<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../../plugins/element-ui/index.css">
    <link rel="stylesheet" href="../../../styles/common.css" />
    <link rel="stylesheet" href="../../../styles/page.css" />
</head>
<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../../plugins/axios/axios.min.js"></script>
    <script src="../../../js/request.js"></script>
    <script src="../../../api/company.js"></script>
    <script src="../../../js/index.js"></script>
    <script src="../../../api/financingInfo.js"></script>
    <script src="../../../api/financialInstitution.js"></script>
    <div class="dashboard-container" id="financingInfoUserApproval-app">
        <div class="container">
            <el-descriptions title="融资信息" :column="3" border>
                <el-descriptions-item prop="companyName">
                    <template slot="label">
                        <i class="el-icon-user"></i>
                        融资企业名称
                    </template>
                    {{ this.financingInfoData.companyName || '' }}
                </el-descriptions-item>
                <el-descriptions-item prop="applyTime">
                    <template slot="label">
                        <i class="el-icon-document-add"></i>
                        申请时间
                    </template>
                    {{ this.financingInfoData.applyTime | formatLocalDateTime }}
                </el-descriptions-item>
                <el-descriptions-item prop="account">
                    <template slot="label">
                        <i class="el-icon-money"></i>
                        融资金额
                    </template>
                    {{ this.financingInfoData.account || '' }}
                </el-descriptions-item>
                <el-descriptions-item prop="financingType">
                    <template slot="label">
                        <i class="el-icon-s-marketing"></i>
                        融资类型
                    </template>
                    {{ formatFinancingType(this.financingInfoData.financingType) || '' }}
                </el-descriptions-item>
                <el-descriptions-item prop="interestRate">
                    <template slot="label">
                        <i class="el-icon-coin"></i>
                        年利率
                    </template>
                    {{ this.financingInfoData.interestRate || '' }}
                </el-descriptions-item>
            </el-descriptions>

        </div>
        <div class="container">
            <!-- 标题区域 -->
            <el-row>
                <el-col :span="24">
                    <h2 style="margin-bottom: 20px; font-size: 16px;">融资审批</h2>
                </el-col>
            </el-row>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="审批状态" prop="approvalStatus">
                    <el-radio-group v-model="ruleForm.approvalStatus">
                        <el-radio label="同意"></el-radio>
                        <el-radio label="拒绝"></el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="审批备注" prop="approvalComment">
                    <el-input v-model="ruleForm.approvalComment"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="goBack()">取消</el-button>
                    <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                    <el-button type="primary" @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <script>
        Vue.filter('formatLocalDateTime', function(value) {
            if (value == null) {
                return '-'
            }
            const [year, month, day, hour, minute, second] = value;
            return `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')} ${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}:${second.toString().padStart(2, '0')}`;
        });
        new Vue({
            el: '#financingInfoUserApproval-app',
            data() {
                return {
                    ruleForm : {
                        'approvalStatus': '',
                        'approvalComment': '',
                    },
                    id : '',
                    user : {},
                    rules: {
                        approvalStatus: [
                            {required: true, message: '请选择审批状态', trigger: 'change'},
                        ],
                        approvalComment: [
                            {required: true, message: '请输入审批备注', trigger: 'change'},
                        ],
                    },
                    financingInfoData : {},
                    financingInfoId : '',
                }
            },
            computed: {},
            created() {
                const userInfo = window.sessionStorage.getItem('userInfo')
                if (userInfo) {
                    this.user = JSON.parse(userInfo)
                    this.financingInfoId = encodeURIComponent(requestUrlParam('id'))
                    console.log(this.financingInfoId)
                }
                this.init()
            },
            mounted() {
            },
            methods: {
                async init () {
                    const financingInfoRes = await getFinancingInfoById(this.financingInfoId)
                    if (String(financingInfoRes.code) === '1') {
                        this.financingInfoData = financingInfoRes.data || ''
                    }
                },
                handleQuery() {
                    this.init();
                },
                //
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            const params = {
                                approvalStatus: this.ruleForm.approvalStatus === '同意' ? 'APPROVE' : 'REJECT',
                                approvalComment: this.ruleForm.approvalComment
                            }
                            console.log(params)
                            approvalFinancingInfo(this.financingInfoId, params).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('融资信息审批成功！')
                                    this.goBack()
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        } else {
                            console.log('error submit!!');
                        }
                    });
                },
                formatFinancingType (val) {
                    const financingTypeMap = {
                        ACCOUNTS_RECEIVABLE: '应收账款融资',
                        PURCHASE_ORDER: '采购订单融资',
                        SUPPLY_CHAIN: '供应链融资',
                        // 添加更多类型的映射关系
                    };
                    return financingTypeMap[val] || '';
                },
                goBack() {
                    window.parent.menuHandle({
                        id: '2',
                        url: '/front/page/financingInfo/user/approvalList.html',
                        name: '融资审批'
                    },false)
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
            }
        })
    </script>
</body>
</html>