<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../../plugins/element-ui/index.css">
    <link rel="stylesheet" href="../../../styles/common.css" />
    <link rel="stylesheet" href="../../../styles/page.css" />
</head>
<body>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../../plugins/axios/axios.min.js"></script>
    <script src="../../../js/request.js"></script>
    <script src="../../../api/company.js"></script>
    <script src="../../../js/index.js"></script>
    <script src="../../../api/orders.js"></script>
    <div class="dashboard-container" id="ordersLogisticProviderUser-app">
        <div class="container">
            <el-table :data="tableData" stripe class="tableBox">
                <el-table-column prop="payerName" label="支付方" align="center"></el-table-column>
                <el-table-column prop="receiverName" label="收款方" align="center"></el-table-column>
                <el-table-column prop="receiverPhone" label="收款方联系电话" align="center"></el-table-column>
                <el-table-column prop="receiverAddress" label="收款方联系地址" align="center"></el-table-column>
                <el-table-column prop="logisticProviderName" label="物流公司" align="center"></el-table-column>
                <el-table-column prop="amount" label="订单总金额" align="center">
                    <template slot-scope="scope">
                        {{scope.row.amount | formatNumber}}
                    </template>
                </el-table-column>
                <el-table-column prop="orderStatus" label="订单状态" align="center" :formatter="formatOrderStatus"></el-table-column>
                <el-table-column prop="orderTime" label="下单时间" align="center" width="150">
                    <template slot-scope="scope">
                        {{scope.row.orderTime | formatLocalDateTime}}
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="160" align="center">
                    <template slot-scope="scope">
                        <!-- 货物运输按钮 -->
                        <el-button
                                type="text"
                                v-if="isOrderShippingVisible(scope.row)"
                                style="color: #3a8ee6 !important; background-color: transparent !important; border-color: transparent !important;"
                                size="small"
                                @click="handleOrderShipping(scope.row)"
                        >
                            运输开始
                        </el-button>
                        <!-- 货物运输完成按钮 -->
                        <el-button
                                type="text"
                                v-if="isOrderShippingCompletedVisible(scope.row)"
                                style="color: #3a8ee6 !important; background-color: transparent !important; border-color: transparent !important;"
                                size="small"
                                @click="handleOrderPreparationCompleted(scope.row)"
                        >
                            运输完成
                        </el-button>
                        <!-- 详情按钮 -->
                        <el-button
                                type="text"
                                size="small"
                                class="blueBug"
                                style="color: #333333 !important; background-color: transparent !important; border-color: transparent !important;"
                                @click="getOrderDetail(scope.row.id)"
                        >
                            详情
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    class="pageList"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="counts"
                    :current-page.sync="page"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
            ></el-pagination>
        </div>
    </div>
    <script>
        Vue.filter('formatNumber', function(value) {
            // 如果值为 null 或者 undefined，则返回 '-'
            if (value == null) {
                return '-';
            }

            // 如果值已经是字符串类型并且包含两位小数，则直接返回
            if (typeof value === 'string' && value.includes('.') && value.split('.')[1].length === 2) {
                return value;
            }

            // 如果值为数字类型，则转换为小数点后两位的字符串
            if (typeof value === 'number') {
                return value.toFixed(2);
            }

            // 其他情况直接返回原始值
            return value;
        });
        Vue.filter('formatLocalDateTime', function(value) {
            if (value == null) {
                return '-';
            }
            const [year, month, day, hour, minute, second] = value;
            // 检查小时、分钟、秒是否为 undefined，若是则设置为 0
            const formattedHour = hour !== undefined ? hour.toString().padStart(2, '0') : '00';
            const formattedMinute = minute !== undefined ? minute.toString().padStart(2, '0') : '00';
            const formattedSecond = second !== undefined ? second.toString().padStart(2, '0') : '00';
            return `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')} ${formattedHour}:${formattedMinute}:${formattedSecond}`;
        });
        new Vue({
            el: '#ordersLogisticProviderUser-app',
            data() {
                return {
                    counts: 0,
                    page: 1,
                    pageSize: 10,
                    tableData : [],
                    id : '',
                    user : {},
                    companyId : '',
                }
            },
            computed: {},
            created() {
                const userInfo = window.sessionStorage.getItem('userInfo')
                if (userInfo) {
                    this.user = JSON.parse(userInfo)
                    this.companyId = encodeURIComponent(this.user.companyId)
                    console.log(this.user)
                    console.log(this.companyId)
                }
                this.init()
            },
            mounted() {
            },
            methods: {
                async init () {
                    const params = {
                        page: this.page,
                        pageSize: this.pageSize,
                    }
                    console.log(params)
                    await getOrdersByLogisticProviderId(this.companyId, params).then(res => {
                        if (String(res.code) === '1') {
                            this.tableData = res.data.records || []
                            this.counts = res.data.total
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                },
                handleQuery() {
                    this.page = 1;
                    this.init();
                },

                // 处理货物运输
                isOrderShippingVisible(row) {
                    return row.orderStatus === 'DELIVERED';
                },
                handleOrderShipping(row) {
                    // 弹出二次确认的弹框
                    this.$confirm('确认此订单货物开始运输？', '货物运输确认', {
                        confirmButtonText: '确认',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        // 用户点击确认后
                        this.handleOrderStatusUpdate(encodeURIComponent(row.id), 'SHIPPING');
                    }).catch(() => {
                        // 用户点击取消，不执行任何操作
                    });
                },

                // 处理货物运输完成
                isOrderShippingCompletedVisible(row) {
                    return row.orderStatus === 'SHIPPING';
                },
                handleOrderPreparationCompleted(row) {
                    // 弹出二次确认的弹框
                    this.$confirm('确认此订单货物运输完成？', '货物运输完成确认', {
                        confirmButtonText: '确认',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        // 用户点击确认后
                        this.handleOrderStatusUpdate(encodeURIComponent(row.id), 'TO_BE_SIGNED');
                    }).catch(() => {
                        // 用户点击取消，不执行任何操作
                    });
                },
                handleOrderStatusUpdate(id, status) {
                    const params = {
                        orderStatus: status
                    }
                    updateOrderStatus(id, params).then(res => {
                        if (String(res.code) === '1') {
                            this.init();
                        } else {
                            this.$message.error(res.msg)
                        }
                    }).catch(err => {
                        this.$message.error(err)
                    })
                },
                getOrderDetail(id) {
                    window.parent.menuHandle({
                        id: '3',
                        url: '/front/page/order/detail.html?id='+encodeURIComponent(id),
                        name: '订单详情'
                    },true)
                },
                formatOrderStatus (row, column) {
                    const orderStatusMap = {
                        UNPAID: '待支付',
                        PAID: '已支付',
                        UNDELIVERED: '待发货',
                        DELIVERED: '已发货',
                        COMPLETED: '已完成',
                        SHIPPING: '运输中',
                        TO_BE_SIGNED: '待签收',
                        // 添加更多类型的映射关系
                    };
                    return orderStatusMap[row.orderStatus] || '';
                },
                handleSizeChange (val) {
                    this.pageSize = val
                    this.init()
                },
                handleCurrentChange (val) {
                    this.page = val
                    this.init()
                }
            }
        })
    </script>
</body>
</html>